@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: Poppins, san-serif;
    font-weight: lighter;
    font-size: 1 rem;
    color: #3FA3FF;
    min-height: 100vh;
    /* overflow: hidden; */

}
.full-height-grow{
    display: flex;
    flex-direction: column;
}

.brand-logo{
    display: flex;
    align-items: center;
    font-size: 1.25 em;
    color: inherit;
    /* removes link underline*/
    text-decoration: none;

}

.brand-logo-name {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 40px;
}

/* landing/sign up page */
.statement{
    font-size: 35px;
    margin-top: 5rem;
    margin-left: 2rem;

}

.twoboxes{
    display: flex;
}

.bluebox-left{
    margin-top: 3rem;
    margin-left: 1rem;
    width: 45%;
    margin-bottom:10rem;
    padding: 10px;
    background-color: #3FA3FF;
    border-radius: 7px;
    color: white;
    height: 70rem;
    padding-top: 0px;
    padding-bottom:0px;
}

/* sign up box */
.whitebox-right{
    margin-top: 3rem;
    margin-left: 5rem;
    align-content: center;
    width: 45%;
    height: 100%;
    padding: 10px;
    background-color:white;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
/* inside sign up vbox */
.signup{
    color: #4070A0;
    /* align-items: center; */
    font-size: 30px;
    padding: 3px 3px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 4rem;
    margin-right: 2rem;
}

.userhandle{
    width: 75%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

/* sign up submit button */
.subbutt{
        background-color: #3FA3FF;
        border: none;
        color: white;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        border-radius: 7px;
      }

.description{
    list-style: none;
    margin-right: 1rem;
    margin-top: 3rem;
    padding-right: 1rem;
    height: 100%;
    font-size: 23px;

}

.main-nav ul{
    display:flex;
    padding:0;
    /* removes bullet points */
    list-style: none;
}

.main-nav a{
    color: inherit;
    text-decoration: none;
    padding: 2rem;
}

.main-nav a:hover{
    color: #1C89A0;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #4070A0;

  }
.footerli{
    list-style: none;
    display: flex;
}
.pooter{
    text-decoration: none;
    color: darkgrey;
    padding: 15px;


}
/* landing page end */

/* search page  */

.search-container{
    margin: 5rem 1rem;
}

.searchy{
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

#myInput {
  /* background-image: url('/css/searchicon.png'); */
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
  color: black;
  height: 100%;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
