{% extends "layout.html" %}
{% block content %}



  <div class = "statement">A search engine for your tweets</div>
    <div class = "twoboxes">
      <div class= "bluebox-left">
        <ul class= "description">
            <li>1.  Type in your twitter handle to get started</li>&nbsp;
            <li>2.  Search through your past tweets</li>&nbsp;
            <li>3.  Filter through results and get an analysis</li>&nbsp;
        </ul>
      </div>
      <div class="whitebox-right">
        <div class= "signup">Get Started
          <form class="form-inline" action="/pull/">
            <label for="username"></label>
            <input type="username" class = "userhandle" id="username" placeholder="@username" name="username">
            <button type="submit" class= "subbutt">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
