{% extends "layout.html" %}
{% block content %}



  <!-- <div class="search-container">
    <form method="POST" action="/">
      <input type="text" id= "searchy" placeholder="Search.." name="searchy" required>
         <button type="submit" id = subbutt>Submit</button>
    </form>
  </div> -->

  <div id="anal"></div>

  <div id="table-container" style="overflow-y:auto;">
    <input type="text" id="myInput" placeholder="Search for tweets..">
    <table id="myTable">
      <thead>
        <tr>
        <th> tweet </th>
        <th> date </th>
        </tr>
      </thead>
      <tbody id ="data"><tbody>

    </table>

  </div>


{% endblock content %}
